<!-- views/about-page.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/styles/about-page.css">
</head>
<body>
  <%- include(basePath + '/views/layouts/header') %> <!-- Fix the path here -->
   
  <div class="header-container">
    <h1>CSEA</h1>
  </div>
  <div>
    <div class="row">
      <div class="col-sm-6">
        <br>
        Kongu Engineering College, one of the foremost multi professional 
        research-led Institutions is internationally a recognized leader in professional and career-oriented education. 
        It provides an integral, inter-disciplinary education - a unique intersection between theory and practice, passion and reason. 
        The College offers courses of study that are on the frontiers of knowledge and it connects the spiritual and practical dimensions of intellectual life,
         in a stimulating environment that fosters rigorous scholarship and supportive community. This Institute is a great possession of the committed Trust called 
         'The Kongu Vellalar Institute of Technology Trust' in Erode District, Tamilnadu. The noble Trust has taken the institute to greater heights since its inception
          in 1983 and has established the college as a forum for imparting value based education for men and women. 
      </div>
      <div class="col-sm-6">
        <div class="header-container">
           <h1>Members</h1>  
        </div>
        <div class="members">
          <div class="card">
            <img src="/images/image.png" alt="Card /images/image">
            <div class="card-content">
              <h3>Eva</h3>
              <p>Additional 
                content 
                 </p>
            </div>
          </div>
         
          <div class="card">
            <img src="/images/image.png" alt="Card /images/image">
            <div class="card-content">
              <h3>Anu</h3>
              <p>Additional
                 content 

              </p>
            </div>
          </div>
         
          <div class="card">
            <img src="/images/image.png" alt="Card /images/image">
            <div class="card-content">
              <h3>lily</h3>
              <p>Additional 
                content
              </p>
            </div>
          </div>
          <div class="card">
            <img src="/images/image.png" alt="Card /images/image">
            <div class="card-content">
              <h3>Eva</h3>
              <p>Additional 
                content 
                 </p>
            </div>
          </div>
          <div class="card">
            <img src="/images/image.png" alt="Card /images/image">
            <div class="card-content">
              <h3>lily</h3>
              <p>Additional 
                content
              </p>
            </div>
          </div>
          <div class="card">
            <img src="/images/image.png" alt="Card /images/image">
            <div class="card-content">
              <h3>lily</h3>
              <p>Additional 
                content
              </p>
            </div>
          </div>
          <div class="card">
            <img src="/images/image.png" alt="Card /images/image">
            <div class="card-content">
              <h3>lily</h3>
              <p>Additional 
                content
              </p>
            </div>
          </div>
          <div class="card">
            <img src="/images/image.png" alt="Card /images/image">
            <div class="card-content">
              <h3>Eva</h3>
              <p>Additional 
                content 
                 </p>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <%- include(basePath + '/views/layouts/footer') %> <!-- Fix the path here -->
</body>
</html>
