<!-- views/layouts/header.ejs -->
<head>
  <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
  <header>
    <div class="div-body">
      <div class="div-body-1">
        <div class="logo-body">
          .div-body-1.1
          <div class="img-logo">
            <img src="/images/logo.png" alt="logo">
          </div>
          <div class="body-text">
             <p>home</p>
          
          </div>
        </div>
      </div>
      <div class="div-body-2">
        <div class="body-text">
          Login
        </div>
        <div class="login-img">
          <img src="/images/male-login.png" alt="logo">

        </div>
      </div>
    </div>
  </header>
</body>
